h1 {
  background-color: var(--color_5);
  color: red;
}

.faq-block {
  background: var(--color-middle);
  padding: 20px;
  border-radius: 10px;
  color: var(--color-dark);
  max-width: 600px;
  margin: 0 auto;
}

.faq-block h2 {
  text-align: center;
  color: var(--color_3);
  margin-bottom: 30px;
}

details {
  background: var(--color_5);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: pointer;
  max-width: 600px;
}

details[open] {
  max-width: 600px;
}

details summary {
  font-weight: bold;
  color: var(--color-dark);
  outline: none;
  max-width: 600px;
}

details summary::-webkit-details-marker {
  display: none;
}

details[open] summary::before {
  content: "▲ ";
  color: var(--color_02);
}

details summary::before {
  content: "▼ ";
  color: var(--color_02);
}

details[open] p {
  margin: 10px 0 0 20px;
  color: var(--color-dark);
  max-width: 600px;
}